html {
	background-color: #900C3F;
	color: #FDE466;
	text-align: center;
}
.quiz-template, .next{
	display: none;
}
.image-container{
	margin: 0 auto;
	display: none;
	width: 400px;
}
.image-container > img{
	width: 100%;
	height: 100%;
}
li{
	list-style-type: none;
}